.memory-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 20px;
    gap: 15px;
}

.card {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #f8f9fa;
    border: 2px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    perspective: 1000px;
    transition: transform 0.3s;
}

.card-inner{
    transition: transform .6s ease;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(0deg);
}

.card.flipped {
    background-color: #5cb85c;
    color: white;
}

.card.flipped .card-inner {
    transform: rotateY(180deg); /* Rotar al voltear */
}

.card:hover {
    transform: scale(1.05);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ocultar lado posterior al girar */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.card-front {
    background-color: #f8f9fa;
    font-size: 2rem;
    color: black;
}

.card-back {
    background-color: #5cb85c;
    color: white;
    transform: rotateY(180deg); /* Girar para que quede detrás */
}

.win {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.win .win-content {
    background: #111;
    color: white;
    height: 300px;
    width: 320px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px) {
    .grid {
        justify-content: space-around; /* Espaciado más uniforme */
        grid-template-columns: repeat(2, calc(33.33% - 10px));

    }

    .card {
        width: calc(33.33% - 10px); /* 3 cartas por fila */
        padding-top: calc(33.33% - 10px); /* Mantener proporción */
        font-size: 1.5rem; /* Reducir tamaño de la fuente */
    }

    h1 {
        font-size: 1.5rem;
    }

    footer button {
        font-size: 0.9rem;
    }
}

/* Para pantallas de tamaño medio, como tabletas */
@media (max-width: 1024px) {
    .grid {
        justify-content: space-around; /* Centrado de cartas */
        grid-template-columns: repeat(3, calc(25% - 10px));
    }

    .card {
        width: calc(25% - 10px); /* 4 cartas por fila */
        padding-top: calc(25% - 10px); /* Mantener proporción */
        font-size: 1.8rem;
    }
}